<h2 style="text-align:center;">CẬP NHẬT THUỐC</h2>
<mat-divider></mat-divider>
<div class="example-container">
    <form [formGroup]="form" (ngSubmit)="updateMedicine(form)">
        <table>
            <h3>Thông tin thuốc nhập</h3>
      <tr>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Mã số</mat-label>
            <input matInput placeholder="A001" formControlName="medicineCode" [(ngModel)]="medicine.medicineCode">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Tên thuốc</mat-label>
            <input matInput placeholder="Panadol" formControlName="medicineName" [(ngModel)]="medicine.medicineName" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Số lô</mat-label>
            <input matInput placeholder="L01" formControlName="lotCode" [(ngModel)]="medicine.lotCode">
          </mat-form-field>
        </td>
        <td>
            <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
              <mat-label>Số đăng ký</mat-label>
              <input matInput placeholder="R012022" formControlName="registerCode" [(ngModel)]="medicine.registerCode">
            </mat-form-field>
          </td>
      </tr>
      <mat-divider></mat-divider>
      <h3>Thông tin nguồn hàng</h3>
      <tr>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Nhà sản xuất</mat-label>
            <input matInput placeholder="Fizer" formControlName="medicineCompany" [(ngModel)]="medicine.medicineCompany">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="getFloatLabelValue()">
            <mat-select [(value)]  ="medicine.origin" formControlName="origin">
              <mat-option>-- None --</mat-option>
              <mat-option value="India">India</mat-option>
              <mat-option value="France">France</mat-option>
              <mat-option value="Germany">Germany</mat-option>
              <mat-option value="Japan">Japan</mat-option>
              <mat-option value="Viet Nam">Viet Nam</mat-option>
            </mat-select>
            <mat-label>
              Xuất xứ
            </mat-label>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Tiêu chuẩn sản xuất</mat-label>
            <input matInput placeholder="GMP-WHO" formControlName="criteriaManufacture" [(ngModel)]="medicine.criteriaManufacture" >
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Ngày sản xuất</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="manufactureDate" [(ngModel)]="medicine.manufactureDate" >
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <!-- #docregion datepicker-actions -->
            <mat-datepicker #picker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
            <!-- #enddocregion datepicker-actions -->
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Quy cách đóng gói</mat-label>
            <input matInput placeholder="hộp, viên" formControlName="specPackage" [(ngModel)]="medicine.specPackage">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Nồng độ</mat-label>
            <input matInput placeholder="100mg" formControlName="concentration" [(ngModel)]="medicine.concentration">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Dạng dùng/đường dùng</mat-label>
            <input matInput placeholder="Uống" formControlName="usageForm" [(ngModel)]="medicine.usageForm">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Hạn sử dụng</mat-label>
            <input matInput [matDatepicker]="pickerTo" formControlName="expireDate" [(ngModel)]="medicine.expireDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <!-- #docregion datepicker-actions -->
            <mat-datepicker #pickerTo>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
            <!-- #enddocregion datepicker-actions -->
          </mat-form-field>
        </td>
      </tr>
      <mat-divider></mat-divider>
      <h3>Thông tin nhập kho</h3>
      <tr>
        <td>
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Ngày nhập kho</mat-label>
            <input matInput [matDatepicker]="pickerTo1" formControlName="importDate" [(ngModel)]="medicine.importDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="pickerTo1"></mat-datepicker-toggle>
            <!-- #docregion datepicker-actions -->
            <mat-datepicker #pickerTo1>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
            <!-- #enddocregion datepicker-actions -->
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Số lượng</mat-label>
            <input matInput placeholder="1000" formControlName="amount" [(ngModel)]="medicine.amount">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Đơn vị</mat-label>
            <input matInput placeholder="Hộp" formControlName="unit" [(ngModel)]="medicine.unit">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Đơn giá</mat-label>
            <input matInput placeholder="10.000" formControlName="cost" [(ngModel)]="medicine.cost">
          </mat-form-field>
        </td>
      </tr>
            <tr>
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Nhập</button>
            </tr>

        </table>
    </form>