<h2 style="text-align:center;">NHẬP KHO</h2>
<mat-divider></mat-divider>
<div class="example-container">

  <div style="position: absolute; right: 50px; top: 7px;">
    <mat-form-field appearance="standard">
      <mat-label>Chọn tháng</mat-label>
      <mat-select matNativeControl required [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option value="8">Thang 8</mat-option>
        <mat-option value="9">Thang 9</mat-option>
        <mat-option value="10">Thang 10</mat-option>
      </mat-select>
    </mat-form-field>
    
    <!-- <a href="http://localhost:8080/pharmacy/api/v1/pharmacies/report">Export</a> -->
    <button mat-button color="primary" id="report_import_btn" (click) = "report(selected)" 
      style="background-color: #3f51b5; color: white; margin-left: 8px; ">Báo cáo nhập kho</button>
    </div>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Select a month</mat-label>
    <mat-select matNativeControl required [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="8">Thang 8</mat-option>
      <mat-option value="9">Thang 9</mat-option>
      <mat-option value="10">Thang 10</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="primary" id="report_import_btn" (click) = "report(selected)"
  style="background-color: #3f51b5; color: white; margin-left: 8px; position: absolute; right: 50px; top: 35px"> Create Import Report</button> -->
  <form [formGroup]="form" (ngSubmit)="saveDetails(form)">
    <table>
      <h3>Thông tin thuốc nhập</h3>
      <tr>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Mã số</mat-label>
            <input matInput placeholder="A001" formControlName="medicineCode">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Tên thuốc</mat-label>
            <input matInput placeholder="Panadol" formControlName="medicineName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Số lô</mat-label>
            <input matInput placeholder="L01" formControlName="lotCode">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Số đăng ký</mat-label>
            <input matInput placeholder="R012022" formControlName="registerCode">
          </mat-form-field>
        </td>
      </tr>
      <mat-divider></mat-divider>
      <h3>Thông tin nguồn hàng</h3>
      <tr>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Nhà sản xuất</mat-label>
            <input matInput placeholder="Fizer" formControlName="medicineCompany">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequiredControl.value"
            [floatLabel]="getFloatLabelValue()">
            <mat-select formControlName="origin">
              <mat-option>-- None --</mat-option>
              <mat-option value="India">India</mat-option>
              <mat-option value="France">France</mat-option>
              <mat-option value="Germany">Germany</mat-option>
              <mat-option value="Japan">Japan</mat-option>
              <mat-option value="Viet Nam">Viet Nam</mat-option>
            </mat-select>
            <mat-label>
              Xuất xứ
            </mat-label>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Tiêu chuẩn sản xuất</mat-label>
            <input matInput placeholder="GMP-WHO" formControlName="criteriaManufacture">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Ngày sản xuất</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="manufactureDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <!-- #docregion datepicker-actions -->
            <mat-datepicker #picker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
            <!-- #enddocregion datepicker-actions -->
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Quy cách đóng gói</mat-label>
            <input matInput placeholder="hộp, viên" formControlName="specPackage">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Nồng độ</mat-label>
            <input matInput placeholder="100mg" formControlName="concentration">
          </mat-form-field>
        </td>

        <td>
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Dạng dùng/đường dùng</mat-label>
            <input matInput placeholder="Uống" formControlName="usageForm">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Hạn sử dụng</mat-label>
            <input matInput [matDatepicker]="pickerTo" formControlName="expireDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <!-- #docregion datepicker-actions -->
            <mat-datepicker #pickerTo>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
            <!-- #enddocregion datepicker-actions -->
          </mat-form-field>
        </td>
      </tr>
      <mat-divider></mat-divider>
      <h3>Thông tin nhập kho</h3>
      <tr>
        <td>
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Ngày nhập kho</mat-label>
            <input matInput [matDatepicker]="pickerTo1" formControlName="importDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="pickerTo1"></mat-datepicker-toggle>
            <!-- #docregion datepicker-actions -->
            <mat-datepicker #pickerTo1>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
            <!-- #enddocregion datepicker-actions -->
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Số lượng</mat-label>
            <input matInput placeholder="1000" formControlName="amount">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Đơn vị</mat-label>
            <input matInput placeholder="Hộp" formControlName="unit">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Đơn giá</mat-label>
            <input matInput placeholder="10.000" formControlName="cost">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Nhập</button>
      </tr>

    </table>
    </form>
    <!-- <mat-divider></mat-divider>
        <button mat-icon-button (click)="medicineUpdate(medicine.id)" title="Cập nhật">
          <mat-icon>update</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteMedicine(medicine.id)" title="Loại bỏ">
          <mat-icon>delete</mat-icon>
        </button> -->